services/nest/dist
services/nest/node_modules
infra/logging/loki_data
logs
services/python/venv
services/python/logconfig/__pycache__
services/python/scripts/__pycache__
services/dotnet/obj
services/dotnet/obj/Debug
services/dotnet/bin
services/dotnet/obj/dotnet.csproj.nuget.dgspec.json
services/dotnet/obj/dotnet.csproj.nuget.g.props
services/dotnet/obj/dotnet.csproj.nuget.g.targets
services/dotnet/obj/project.assets.json
services/dotnet/obj/project.nuget.cache
services/nest/src/generated/prisma
/node_modules
/services/dotnet/obj
obj
services/python/__pycache__
services/python/alembic/__pycache__
services/python/models/__pycache__
services/python/__pycache__/consumer.cpython-38.pyc
services/python/services/__pycache__/user_service.cpython-38.pyc
services/python/alembic/versions/__pycache__/958d6c2d9046_create_users_table.cpython-38.pyc
frontend/node_modules